<div class="container">
  <h2>Articles</h2>

  <%= link_to 'Add an article', '/articles/new' %>

  <% if @articles %>
    <ul>
      <% @articles.each do |article| %>
        <li>
          <%= link_to article.title, "/articles/#{article._id}" %>
          |
          <%= link_to "/articles/#{article._id}/edit" do %>
            <i class="fa fa-pencil-square-o" aria-hidden="true"> </i>
          <% end %>
          <%= link_to "/articles/#{article._id}", method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash-o" aria-hidden="true"> </i>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>