<h2>Articles:</h2>

<%= link_to 'Add an article', '/articles/new' %>

<% if @articles %>
    <ul>
      <% @articles.each do |article| %>
          <li>
            <%= link_to article.title, "/articles/#{article.article_id}" %>
            |
            <%= link_to 'Edit', "/articles/#{article.article_id}/edit" %>
            |
            <%= link_to 'Delete', "/articles/#{article.article_id}", method: :delete %>
          </li>
      <% end %>
    </ul>
<% end %>