<h2>Answer <%= @answer._id %></h2>

<div>
  <%= link_to 'Edit', "/answers/#{@answer._id}/edit" %>
  |
  <%= link_to 'Delete', "/answers/#{@answer._id}", method: :delete %>
</div>

<pre>
<%= @answer.body %>
</pre>